<ion-header > 
     
    <ion-toolbar class="new-background-color"> 
      <ion-title class="subtitle text-center ">
        Registro de Usuario
      </ion-title>
      
      <ion-buttons slot="start">
        <ion-button (click)="openMenu()">
          <ion-icon color="primary" slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content>
<div *ngIf="!uid.length">
  <h3 class="subtitulo  encabezado datos"> Ingresa tus Datos  </h3>
  <ion-item >  
    <ion-label position="floating"  class="normal">
      Email: 
    </ion-label>   
    <ion-input name="email" [(ngModel)]="cliente.email" class="normal" type="text" inputmode="text"> </ion-input>
  </ion-item>
  
  <ion-item  *ngIf="!ingresarEnable">  
    <ion-label position="floating" class="normal">
      Nombre:
    </ion-label>  
    <ion-input [(ngModel)]="cliente.nombre" class="normal" type="text" inputmode="text"> </ion-input>
  </ion-item>
  
  <ion-item >  
    <ion-label position="floating" class="normal">
      Celular: 
    </ion-label>
    <ion-input [(ngModel)]="cliente.celular" class="normal" type="number" inputmode="number"> </ion-input>      
  </ion-item>
  
  <ion-item *ngIf="!ingresarEnable">  
    <ion-label position="floating" class="normal">
      Ciudad de Recidencia: 
    </ion-label>  
    <ion-input [(ngModel)]="cliente.referencia" class="normal" type="text" inputmode="text"> </ion-input>
  </ion-item>
  
    <div style="text-align: end;  margin: 10px;">
      <button *ngIf="!ingresarEnable" (click)="registrarse()" class="m-2 btn btn-primary d-grid gap-2 col-6 mx-auto" c >Registrarse</button>    
      <button *ngIf="!ingresarEnable" (click)="ingresarEnable=true" class="btn btn-primary d-grid gap-2 col-6 mx-auto">o Ingresar</button>
      <button *ngIf="ingresarEnable" (click)="ingresar()" class="m-2 btn btn-primary d-grid gap-2 col-6 mx-auto"  >Login</button>
      <button *ngIf="ingresarEnable"  (click)="ingresarEnable=false" class="btn btn-primary d-grid gap-2 col-6 mx-auto"  >o Registrarse</button>    
    </div>

</div>
  


<div *ngIf="uid.length"> 
  <h3 class="subtitulo  encabezado datos"> Tus Datos </h3>

  <ion-item >  
    <ion-label  class="normal">
      Email: {{cliente.email}}
    </ion-label>     
  </ion-item>
  
  <ion-item >  
    <ion-label  class="normal">
      Celular: {{cliente.celular}}
    </ion-label>      
  </ion-item>
  
  <ion-item >  
    <ion-label position="floating" class="normal">
      Nombre:</ion-label>  
    <ion-input [(ngModel)]="cliente.nombre" class="normal" type="text" inputmode="text"> </ion-input>
  </ion-item>
  
  
  <ion-item >  
    <ion-label position="floating" class="normal">
      Ciudad de Recidencia:
    </ion-label>  
    <ion-input [(ngModel)]="cliente.referencia" class="normal" type="text" inputmode="text"> </ion-input>
  </ion-item>
  
    <!-- <ion-item >  
      <ion-label  class="normal">
        Foto Referencia
      </ion-label>  
       <ion-buttons slot="end" >         
        <ion-button>
          <label for="file-upload">
            <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
          </label>
          <input  (change)="newImageUp($event)" id="file-upload" style="display:none;" type="file" accept="image/*">
        </ion-button>
       </ion-buttons>
    </ion-item> -->
     <!-- <div class="center">     
        <img style="border-radius: 100%;" class="image" [src]="cliente.foto">  
    </div>   -->
    <br>
    <div style="text-align: end;  margin: 10px;">
      <button (click)="salir()" class="m-2 btn btn-primary d-grid gap-2 col-6 mx-auto"  >Salir</button>
    </div>  
</div>

  
</ion-content>
