

.mapa{
    text-align: center;
    
}
hr{
    margin: 0px;
   
}
p{
    margin: 0%;
    font-weight:bold ;
}
.columna{
   
    border: solid 1px;
}
.icon-producto{
    position: absolute;
    top:0px;
    right: 0px;
    margin: 5px;
    

}