<ion-header>
  <ion-toolbar>
    <ion-title class="subtitle">
        Datos de la Propiedad
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="openMenu(); ngOnDestroy()">
        <ion-icon color="primary" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div >

  <div style="margin: 10px; float: left;">
    <ion-button (click)="nuevo()" class="normal" color="secondary">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
    
  </div>
  
  <div class="cerrar" *ngIf="enableNewProducto;" >
    <ion-button (click)="enableNewProducto=false;" class="normal" color="danger">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </div>
  
  <div style="clear: both;">
  </div>
  
  <div *ngIf="enableNewProducto;" >
    
    
    <h3 class="subtitulo  encabezado" >Ingrese datos del la Propiedad</h3>
    
    <ion-item>
      <ion-label class="nornal" position="floating" >
        Ciudad:
      </ion-label>
      <ion-input [(ngModel)]="newPropiedad.ciudad" class="normal" type="text"  inputmode="numeric"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="nornal" position="floating" >
        Direccion:
      </ion-label>      
      <ion-input [(ngModel)]="newPropiedad.direccion" class="normal" type="text"  inputmode="text"></ion-input>
    </ion-item>
    
    
    <ion-item (click)="addDireccion()">
      <ion-label class="nornal">
        Ubicacion:
      </ion-label>
      <ion-buttons slot="end">    
        <ion-button>         
            <ion-icon slot="icon-only" name="location" color="danger"></ion-icon>          
        </ion-button>
      </ion-buttons>  
    </ion-item>

    <ion-item>
      <ion-label class="nornal" position="floating" >
        Precio:
      </ion-label>
      <ion-input [(ngModel)]="newPropiedad.precio" class="normal" type="number"inputmode="numeric"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="nornal" position="floating" >
        Telefono:
      </ion-label>
      <ion-input [(ngModel)]="newPropiedad.telefono" class="normal" type="number"inputmode="numeric"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="nornal" position="floating" >
        Descripccion:
      </ion-label>
      <ion-input [(ngModel)]="newPropiedad.descripcion" class="normal" type="text"inputmode="numeric"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label class="nornal">
        Foto:
      </ion-label>
      <ion-buttons slot="end">    
        <ion-button>
          <label for="file-upload">
            <ion-icon slot="icon-only" name="images"></ion-icon>
          </label>
          <input (change)="newimageupload($event)" style="display:none;"  type="file" id="file-upload" accept="image/*">        
        </ion-button>
      </ion-buttons>  
    </ion-item>
    <ion-item >      
      <img class="image" [src]="newPropiedad.foto">
    </ion-item>
    <ion-button class="boton" expand="full" color="primary" (click)="guaradarproducto()">
      Guardar
    </ion-button>
  </div>
  
</div>
  
  
  
  
  
  

  <ion-card >
    <h3 class="subtitle encabezado">Lista de Propiedades </h3>
    <ion-item *ngFor="let propiedad of propiedades">
      <ion-label class="normal">{{propiedad.ciudad}}</ion-label>
      <ion-buttons>

  <ion-button (click)="newPropiedad =propiedad; enableNewProducto=true; editar=true; " >
    <ion-icon slot="icon-only"  name="create-sharp"></ion-icon>   
  </ion-button>

  <ion-button (click)='deleteProducto(propiedad)'>    
    <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
  </ion-button>
</ion-buttons>
</ion-item>
</ion-card>


</ion-content>


