
<ion-header>
  <ion-toolbar>
    <ion-title class="subtitle" style="text-align: center;">
        Compras
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon color="primary" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      
      <ion-button  [routerLink]="['/home']" (click)="ngOnDestroy()"> 
        <ion-icon color="primary" slot="icon-only" name="storefront-outline"></ion-icon>
      </ion-button>
      <ion-button  [routerLink]="['/perfil']" (click)="ngOnDestroy()"> 
        <ion-icon color="primary" slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let producto of propiedad.productos">
    <app-itemcarrito [productoPedido]='producto'></app-itemcarrito>
    <ion-button (click)="pedir()" expand="full" class="normal" style="color: white !important;">
      Comprar
    </ion-button>
  </div>
</ion-content>

<!-- <ion-footer>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col class="normal text-start">
          Preciol:{{propiedad.cliente}}$
        </ion-col>  

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="pedir()" expand="full" class="normal" style="color: white !important;">
          Comprar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-footer> -->

 